h1
{
    color: black;
    margin-left: 45px;
}
button 
{
   
    margin-top: 10px;
    width: 300px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    background: url("https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg");
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 1.5rem;
}
button:hover
{
  box-shadow: 0 0 25px rgb(114, 42, 9),0 0 50px rgb(114, 42, 9);
}
label
{
    color: black;
    font-size: 1.3rem;
    font-family: cursive;
    margin-left: 15px;
}
input
{
    height: 30px;
    margin-top: 4px;
    margin-bottom: 7px;
    padding: 5px;
    font-family: cursive;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 1.2rem;
}
#data
{
    width: 45px;
    margin-right: 10px;
}
#cardcolor
{
    margin-right: 10px;
}
#cardholder
{
    width: 300px;
}
#cardnumber
{
    width: 300px;
}
.card {
    width: 300px;
    height: 170px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-top: -350px;
    margin-left: 450px;
  }

  .card-logo {
    display:block;
    justify-content: space-between;
    align-items: center;
  }

  .card-logo img {
    height: 30px;
  }

  .card-number {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 2px;
  }

  .card-holder,
  .card-expiry {
    margin-top: 10px;
    font-size: 14px;
  }

  .card-expiry {
    margin-bottom: 20px;
  }
  .cvc
  {
    margin-top: -62px;
    margin-left: 250px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 180px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
td
{
  color: black;
  
}
.sifirla
{
  background-color: rgb(190, 103, 9);
  height: 45px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.rear-part
{
  width: 350px;
  height: 210px;
  margin-left: 900px;
  margin-top: -210px;
  border-radius: 10px;
}
.mini-part
{
  width: 330px;
  height: 50px;
  margin-left: 10px;
  background-color: rgba(194, 195, 195, 0.94);
}
h3
{
  margin-left: 15px;
  margin-top: 90px;
}
.logobank
{
  width: 70px;
  height: 70px;
  margin-left: 260px;
  margin-top: -120px;
}